.DS_Store
node_modules
node_modules
public
routes
src
.gitignore
babel.config.js
favicon.ico
index.html
jsconfig.json
package-lock.json
package.json
postcss.config.js
README.md
tailwind.config.js
vue.config.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
